<form class="edit-form" [formGroup]="editProductForm" (ngSubmit)="onSubmit()">
  <img class="edit-form-image" [src]="product().thumbnail" alt="" />
  <h4 class="edit-form-title">{{ product().name }}</h4>
  <div class="edit-form-controls">
    <app-form-field
      label="Precio"
      idInput="price-field"
      type="number"
      [control]="priceControl"
    />
    <app-form-field-increment
      label="Cantidad"
      inputId="quantity-field"
      [control]="quantityControl"
      [min]="0"
      [max]="1000"
    />
  </div>
  <app-save-button text="Guardar" type="submit" />
</form>
