@import "../../../../styles/colors.scss";
@import "../../../../styles/typography.scss";
.increment-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  width: 100%;
  &-label {
    text-align: left;
    font-size: $size-M;
  }
  &-input {
    border: solid 1px black;
    text-align: center;
    font-size: $size-M;
    width: 100%;
    border-radius: 1rem;
  }
  &-input:focus {
    border: solid 1px $btn-info;
    outline: none;
  }
  &-content {
    flex-grow: 1;
  }
}
@media (width < 800px) {
  .increment-container {
    &-label {
      font-size: $size-XXS;
    }
    &-input {
      font-size: $size-XXS;
    }
  }
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
