.btn-save {
  background-color: #6faa47;
  border: none;
  padding: 0.4rem 0.6rem;
  border-radius: 1rem;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  cursor: pointer;
  color: white;
}
