.btn-save {
  background-color: #6faa47;
  border: solid 2px #6faa47;
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  cursor: pointer;
  color: white;
}
