.btn-cancel {
  background-color: none;
  border: 2px solid #8e9094;
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  cursor: pointer;
  color: #8e9094;
}
