<nav class="nav drop-shadow-lg">
  <h1 class="nav-title"></h1>
  <app-svg-button class="nav-button" (click)="onOpenMenu()">
    <ng-container svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="2em"
        height="2em"
        viewBox="0 0 24 24"
      >
        <g fill="#ffffff">
          <path
            d="M8 6.983a1 1 0 1 0 0 2h8a1 1 0 1 0 0-2zM7 12a1 1 0 0 1 1-1h8a1 1 0 1 1 0 2H8a1 1 0 0 1-1-1m1 3.017a1 1 0 1 0 0 2h8a1 1 0 1 0 0-2z"
          />
          <path
            fill-rule="evenodd"
            d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2s10 4.477 10 10m-2 0a8 8 0 1 1-16 0a8 8 0 0 1 16 0"
            clip-rule="evenodd"
          />
        </g>
      </svg>
    </ng-container>
  </app-svg-button>
  <div class="nav-options">
    <a routerLink="" class="nav-options-item">Transacción</a>
    <a routerLink="" class="nav-options-item">Inventario</a>
    <a routerLink="" class="nav-options-item">Deudores</a>
    <a routerLink="" class="nav-options-item">Informes</a>
    <app-svg-bg-button bgColor="#fd1415" class="log-out">
      <ng-container svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="2em"
          height="2em"
          viewBox="0 0 24 24"
        >
          <g
            fill="none"
            stroke="#fff"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <path
              d="M14 8V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2v-2"
            />
            <path d="M9 12h12l-3-3m0 6l3-3" />
          </g>
        </svg>
      </ng-container>
    </app-svg-bg-button>
  </div>
</nav>
<app-menu (closeMenu)="onOpenMenu()" [showMenu]="isMenuVisible"></app-menu>
