@import "../../../../styles/colors.scss";
@import "../../../../styles/typography.scss";

.card-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $blue-100;
  border-radius: 1rem;
  &-container-image {
    display: grid;
    border-radius: 1rem;
    place-items: center;
    padding: 0.5rem;
    .product-image {
      max-height: 200px;
      border-radius: 1rem;
      object-fit: contain;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &-info {
    padding: 0.5rem;
  }
  &-actions {
    display: flex;
    padding: 0.5rem 1rem 0 1rem;
    justify-content: space-evenly;
    align-items: center;
  }
  @apply drop-shadow-lg;
}

@media (width < 800px) {
  .card-product {
    &-container-image {
      .product-image {
        max-height: 150px;
      }
    }
  }
}
