@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Puritan:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "styles/typography";
@import "styles/colors";
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
}
html,
body,
app-root {
  height: 100vh;
  width: 100vw;
  scrollbar-width: none;
  background-color: $blue-50;
}
