<div class="field-container">
  <label [for]="idInput()" class="field-container-label">{{ label() }}</label>
  <div class="field-container-content">
    <input
      class="field-container-input"
      [id]="idInput()"
      [type]="type()"
      [placeholder]="placeholder()"
      [formControl]="control"
      [value]="value()"
      (input)="onInput($event)"
    />
    @if (control.invalid && (control.dirty || control.touched)) {
    <app-errors-display [errors]="getMessageError()"></app-errors-display>
    }
  </div>
</div>
