@import "../../../../styles/colors.scss";
@import "../../../../styles/typography.scss";
.field-container {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
  justify-content: space-evenly;
  padding: 0 0.5rem;
  &-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &-label {
    text-align: left;
  }
  &-input {
    border-radius: 1rem;
    padding: 0 1rem;
    border: solid 1px black;
  }
  &-input:focus {
    border: solid 1px $btn-info;
    outline: none;
  }
}
