@import "../../../../styles/colors.scss";
@import "../../../../styles/typography.scss";
.field-container {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
  justify-content: space-evenly;
  padding: 0 0.5rem;
  &-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &-label {
    text-align: left;
    font-size: $size-M;
  }
  &-input {
    border-radius: 1rem;
    padding: 0 1rem;
    border: solid 1px $blue-950;
    font-size: $size-M;
  }
  &-input:focus {
    border: solid 1px $btn-info;
    outline: none;
  }
}
@media (width < 800px) {
  .field-container {
    &-label {
      font-size: $size-XXS;
    }
    &-input {
      font-size: $size-XXS;
    }
  }
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
