.card-product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  padding: 1rem;
  gap: 1rem;
}

@media (width < 800px) {
  .card-product-container {
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    padding: 0.5rem;
  }
}
