@import "../../../../styles/_typography";
@import "../../../../styles/colors";
.amount-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: $orange-400;
  border-radius: 1rem;
  &-label {
    font-size: $size-XM;
    font-weight: bold;
    color: $text-quaternary;
  }
  &-quantity {
    font-size: $size-XM;
    font-weight: bold;
    color: $text-quaternary;
  }
  &-price {
    font-size: $size-XM;
    font-weight: bold;
    color: $text-quaternary;
  }
}
